.carousel {
  display: flex;
  flex-wrap: wrap; /* Permettre le retour à la ligne */
  overflow-x: auto;
  padding-top: 100px;
  max-height: calc(100vh - 80px); /* Hauteur maximale du carousel */
}

.game {
  position: relative;
  flex: 0 0 auto;
  width: 300px;
  margin-right: 20px;
  scroll-snap-align: start;
  background-color: #ffffff8c;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 253, 253, 0.281);
  transition: transform 0.3s ease;
  overflow: hidden; /* Pour cacher le dépassement du bouton */
}

.game img {
  width: 100%;
  height: auto;
  padding-top: 15px;
  border-radius: 10px 10px 0 0;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.game img:hover {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.game p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

/* Styles for the play button */
.play-button {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #4070f4;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transitions */
  z-index: 1; /* Ensure it's on top */
  border-radius: 5px; /* Add border radius for rounded corners */
}

/* Style for button hover */
.play-button:hover {
  background-color: #3058c3;
  transform: translate(-50%, -50%) scale(1.05); /* Add scale effect on hover */
}

/* Style for button focus */
.play-button:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 3px rgba(64, 112, 244, 0.4); /* Add custom focus effect */
}


/* Animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}